.comment .img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-size: cover;
    background-color: rgb(65, 65, 65);
}

.inline{
    display: inline-block;
}

.comment{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0.4rem;
}
.comment p{
    font-size: 0.8rem;
    margin: 0.4rem;
}